.services_container {
    display: grid;
    background-color: rgb(202, 202, 210);
    grid-template-columns: repeat(2, 1fr);
    gap: 0.6rem;
}
.services   {
    border-radius: 0 0 0.5rem 0.6rem;
    border: 1px solid var(--color-primary);
    transition: var(--transition);
}
.services_hover {
    background: transparent;
    border-color:var(--main)!important;
    cursor: default;
}

.services_head h3 {
    color: rgb(43, 226, 101);
    font-size: 1.2rem;
    text-align: justify;
}
.services_list ul {
    padding: 1rem;
}
.services_list li {
    display: flex;
    gap: 1rem;
    margin-top: 2.1px;
}
.services_list  {
    font-size: 1rem;
}